<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Content preview</th>
      <th>Visit count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.category.name %></td>
        <td><%= link_to post.title, post %></td>
        <td><%= truncate(simple_format(post.content), length: 100, omission: '... ') { link_to "Details", post }%></td>
        <td><span class="badge"><%= post.visit_count %></span></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-primary' %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary btn-danger'%></td>
        <% else %>
          <td colspan="2"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path, class:'btn btn-primary'  %>
<% end %>