<!-- Blog Post -->
<!-- inside div col-md-8 -->
<p id="notice"><%= notice %></p>


<h1>
  <%= @post.title %>
</h1>

<!-- Author -->
<p class="lead">
  by <%= link_to 'Midi Kang', root_path %>
</p>

<hr>

<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Posted on <%= @post.created_at.strftime('%b %d, %Y') %> |  Read:<span class="badge"><%= @post.visit_count%></span> </p>

<hr>

<p class="lead">
  <%= simple_format(@post.content) %>
</p>

<hr>

<p>
  <strong>Source:</strong>
  <%= link_to @post.source, @post.source%>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post), class:'btn btn-primary'  %>
  <%= link_to 'Back', posts_path, class:'btn btn-primary'  %>
<% end %>