<%# add navigation links to this file %>
<li><%= link_to 'Posts', posts_path %></li>
<li><%= link_to 'New Post', new_post_path %></li>
<li><%= link_to 'Categories', categories_path %></li>
<li><%= link_to 'New Category', new_category_path %></li>
<li><%= link_to 'My bookmark', "https://mecloud.herokuapp.com" %></li>
<li><%= link_to 'Midi ruby on herokuapp', "https://midi-ruby.herokuapp.com" %></li>
<li><%= link_to 'Local rails5 app', "https://rails5-midikang.c9users.io" %></li>
<li><%= link_to 'Local rails app', "https://rails-midikang.c9users.io" %></li>
<li><%= link_to 'About', page_path('about') %></li>
