<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer class=bs-docs-footer>
      <div class=container>
        <ul class=bs-docs-footer-links>
            <li>
                <a href=https://github.com/midikang/rails-bootstrap target=_blank>GitHub</a>
            </li>
            <li>
                <a href=https://twitter.com/midi13 target=_blank>Twitter</a>
            </li>
            <li>
                <a href="http://getbootstrap.com/getting-started/#examples" target=_blank>Bootstrap Examples</a>
            </li>
        </ul>
        <p>Copyright &copy; Midi Kang 2016</p>
        <p>Built with all the love in the world by <a href=https://twitter.com/midi13 target=_blank>@midi13</a>.</p>
      </div>
    </footer>
  </body>
</html>
